.dock-outer {
  margin: 0 0.5rem;
  display: flex;
  max-width: 100%;
  align-items: center;
}

.dock-panel {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: flex-end;
  width: fit-content;
  gap: 1rem;
  border-radius: 1.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(20px);
  border: none;
  padding: 0 0.5rem 0.5rem;
}

.dock-item {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(54, 54, 54, 0.8);
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  transition: all 0.2s;
  color: white;
}

.dock-item:hover {
  background-color: rgba(70, 70, 70, 0.9);
}

.dock-item-disabled {
  opacity: 0.4;
  cursor: not-allowed !important;
  pointer-events: none;
}

.dock-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dock-label {
  position: absolute;
  top: -2rem;
  left: 50%;
  width: fit-content;
  white-space: pre;
  border-radius: 0.75rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(10px);
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  color: #fff;
  transform: translateX(-50%);
}
